<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html">

<title>
    {{site.github.title}} &middot; {{site.github.owner}}
</title>

<meta name="description" content="{{site.github.tagline}}">
<meta name="keywords" content="{{site.keywords}}">
<meta name="author" content="{{site.github.owner}}">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimal-ui">

<!-- Stylesheets -->
<link rel="stylesheet" href="css/scaffolding.css">
<link rel="stylesheet" href="css/layout.css">
<link rel="stylesheet" href="css/components.css">

<!-- Font -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css">

<!-- Icons -->
<!-- Replace these files with your icons if you'd like to use your own -->
<!-- <link rel="shortcut icon" href="public/images/favicon.ico" sizes="32x32"> -->
<!-- <link rel="shortcut icon" href="public/images/apple-touch-icon.png" sizes="196x196"> --> <!-- Android -->
<!-- <link rel="apple-touch-icon" href="public/images/apple-touch-icon.png" sizes="144x144"> --> <!-- Apple -->

    <!--[if lt IE 9]>
        <p>You are using an <strong>outdated browser</strong>. Please <a href="http://browsehappy.com/">upgrade your browser</a> to a newer version or use a different browser, such as Chrome or Firefox.</p>
    <![endif]-->
