<!-- Hero -->
<div class="wrapper">
  <p class="brand">{{site.github.owner}}</p>
  <div class="icons pull-right">
    <a href="https://twitter.com/share?hashtags={{site.twitter.hashtags}}&amp;text={{site.twitter.text}}&amp;tw_p=tweetbutton&amp;url={{site.github.url}}" target="_blank"><i class="fa fa-twitter"></i></a>
    <a href="{{site.github.repository_url}}" target="_blank"><i class="fa fa-github-alt"></i></a>
    <a href="{{site.website}}" target="_blank"><i class="fa fa-globe"></i></a>
  </div>
</div>

<section>
  <div class="container">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="name">{{site.github.title}}</h1>
      <h2 class="tagline">{{site.github.tagline}}.</h2>
      {% if site.version.enabled == "Y" %}
        <p>Currently <span id="github-version"><i class="fa fa-spinner fa-spin"></i></span></p>
      {% endif %}
    </div>
  </div>
</section>
