<!-- Bootstraps -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- Analytics Option -->
{% if site.analytics.enabled == "Y" %}
    {% include options/analytics.html %}
{% endif %}

<!-- Smooth Option -->
{% if site.smooth.enabled == "Y" %}
    {% include options/smooth.html %}
{% endif %}

<!-- Index Option -->
{% if site.index.enabled == "Y" %}
    {% include options/index.html %}
{% endif %}

<!-- Version Option -->
{% if site.version.enabled == "Y" %}
    {% include options/version.html %}
{% endif %}

