<!-- Index -->
{% if site.index.enabled == "Y" %}
<script>
(function($) {
  $.fn.index = function(options) {
    headings = $("h1").filter(function() {
      return this.id;
    });
    output = $(this);
    if (!headings.length || headings.length < 1 || !output.length) {
      return;
    }
    get_level = function(ele) {
      return parseInt(ele.nodeName.replace("H", ""), 10);
    };
    level = get_level(headings[0]);
    this_level = void 0;
    html = "";
    headings.on("click", function() {
      window.location.hash = this.id;
    }).each(function(_, heading) {
      this_level = get_level(heading);
      if (this_level === level) {
        html += "<li><a href='#" + heading.id + "'>" + heading.innerHTML + "</a>";
      }
      level = this_level;
    });
    output.html(html);
  };
})(jQuery);
</script>

<!-- onDomReady -->
<script>
  $(document).ready(function() {
    $(".index").index();
  });
</script>
{% endif %}
<!-- End Index -->

<-- Smooth Scrolling -->
{% if site.scrolling.enabled == "Y" %}
<script>
$("a[href*=#]:not([href=#open])").click(function() {
  if (location.pathname.replace(/^\//, "") == this.pathname.replace(/^\//, "") || location.hostname ==
    this.hostname) {
    var target = $(this.hash);
    target = target.length ? target : $("[name=" + this.hash.slice(1) + "]");
    if (target.length > 0) {
      $("html,body").animate({
        scrollTop: target.offset().top
      }, 1000);
    return false;
    }
  }
});
</script>
{% endif %}
<!-- End Smooth Scrolling -->

<!-- Version -->
{% if site.version.enabled == "Y" %}
<script>
$.ajax({
  url: "https://api.github.com/repos/" + "{{site.github.owner_name}}/" + "{{site.github.project_title}}/" + "tags?callback?",
  dataType: "jsonp",
  success: function(json) {
    lastTag = json.data[0];
    $("#github-version").text(lastTag.name);
  }
});
</script>
{% endif %}
<!-- End Version -->
