<!DOCTYPE html>
<html>
  <head>
    {% include header.html %}
  </head>
  <body>
    {% include hero.html %}
    <div class="container margin">
      <div class="col-md-1">
        {% if site.index.enabled == "Y" %}
        <div class="open">
          <a href="#open" title="Get help navigating this page"><i class="fa fa-list-ul"></i></a>
        </div>
        <div id="open" class="modal">
          <div>
            <a class="close" href="#close"><i class="fa fa-times"></i></a>
            <nav>
              <ul class="index"></ul>
            </nav>
          </div>
        </div>
        {% endif %}
      </div>
      <div class="col-md-8 col-md-offset-1">
        {{content}}
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
